* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

button {
  width: 5rem;
  height: 5rem;
  background: transparent;
  border: none;
  cursor: pointer;
}

svg {
  fill: gray;
}

/* Crea a partir de aquí tu CSS */

.like {
  fill: red;
  transform: scale(1);

  animation: mianimacion 400ms;
  animation-delay: 100ms;
  animation-timing-function: ease-out;
}

@keyframes mianimacion {
  20% {
    transform: scale(1.15);
  }

  40% {
    transform: scale(0.75);
  }

  75% {
    transform: scale(1.15);
  }

  100% {
    transform: scale(1);
  }
}
